{% extends "base.html" %}
{% block title %}Post View{% endblock %}
{% block header %}Post View{% endblock %}

{% block content %}
<main role="main" class="container">
    <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                <div class="card">
                        <div class="card-body">
                                <div class="h2">
                                    {{user.get_full_name}}
                                </div>
                                <div class="h3 text-muted">
                                    @{{user.username}}
                                </div>
                        </div>
                        <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                        <div class="h6 text-muted">
                                        Подписчиков: XXX <br />
                                        Подписан: XXX
                                        </div>
                                </li>
                                <li class="list-group-item">
                                        <div class="h6 text-muted">
                                            number of records : {{count}}
                                        </div>
                                </li>
                        </ul>
                </div>
        </div>

        <div class="col-md-9">

                                {% include "post_item.html" with post=post %}
            <h2><a class="btn btn-sm text-muted" href="{% url 'add_comment' post.author.username post.id %}">Comment</a><br></h2>
                                -------------------------------------------------
                                <h2>Comments:</h2>
                                {% for item in comments %}
<div class="media mb-4">
<div class="media-body">
    <h5 class="mt-0">
    <a
        href="{% url 'profile' item.author.username %}"
        name="comment_{{ item.id }}"
        >@{{ item.author.username }}</a>
    </h5>
    {{ item.text }}
</div>
</div>

{% endfor %}
                        </div>
                        
                </div>
     </div>
    </div>

</main>
{% endblock %}