{% extends 'base.html' %}

{% block title %}{{user.username}}{% endblock %}
{% block header %}{% endblock %}

{% block content %}

<main role="main" class="container">
    <div class="col-md-3 mb-3 mt-1">
        <div class="card">
                <div class="card-body">
                        <div class="h2">
                            {{user.get_full_name}}
                        </div>
                        <div class="h3 text-muted">
                             @{{user.username}}
                        </div>
                </div>
                <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                                <div class="h6 text-muted">
                                    Subscribers: {{followed}} <br />
                                    Subscribed : {{follower}}
                                </div>
                        </li>
                        <li class="list-group-item">
                                <div class="h6 text-muted">
                                    number of records : {{count}}
                                </div>
                        </li>
                    {% if request.user.username != user.username %}
                    <li class="list-group-item">

    {% if following %}
    <a class="btn btn-lg btn-light"
            href="{% url 'profile_unfollow' user.username %}" role="button">
            Unfollow
    </a>
    {% else %}
    <a class="btn btn-lg btn-primary"
            href="{% url 'profile_follow' user.username %}" role="button">
    Follow
    </a>
    {% endif %}


</li>
                     {% endif %}
                </ul>
        </div>
</div>
<div class="col-md-9">                

    {% for post in page %}
       {% include "post_item.html" with post=post %}
    {% endfor %}
    {% if page.has_other_pages  %}
    {% include "paginator.html" with items=page paginator=paginator %}
    {% endif %}
    ****

</div>
</div>
</main>

</main>

{% endblock content %}